@import url(http://fonts.googleapis.com/css?family=Raleway);

.sortable
{
    cursor:move;
}

body
{
    margin:70px 0 40px 0;
    background: #F7F7F7;
}

body.extra-margin
{
    margin-top:90px;
}

form
{
    margin:0;
}

textarea
{
    resize:vertical;
}

.container
{
    margin-left:auto;
    margin-right:auto;
    width:940px;
}

#blocks {
    
}
    
#ex
{
    width:25%;
    text-align:center;
    padding-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

#warn {
    width:23%;
    text-align:center;
    padding-bottom:20px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.box
{
    background-color: #e1edf7;
    border: 0px solid #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
}

.server-box
{
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
}

.server-column {
    height: auto;
    padding: 20px;
}

.bot-box
{
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
}

.bot-column {
    height: auto;
    padding: 20px;
}

.guest-column {
    height: auto;
    padding: 15px;
}

.guest-wrapper
{
    width:510px;
    margin:70px auto 0 auto;
}

.guest-wrapper-grabble
{
    width:600px;
    margin:70px auto 0 auto;
}

.server-wrapper
{
    width:900px;
    margin:70px auto 0 auto;
}

.bot-wrapper
{
    width:1000px;
    margin:70px auto 0 auto;
}

.logo
{
    width: 280px;
    height: 100px;
    margin: 0 auto 30px auto;
}

#notification-bar
{
    border: 1px solid;
    text-align:center;
    margin:0 0 25px 0;
    padding:10px 5px 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:none;
    font-size:14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/**
 * Navbar
 */
.navbar-width
{
    min-width:1200px;
    max-width:1350px;
    margin:auto auto;
}


/**
 * Textarea boxes
 */
.refer-link-box
{
    font-size:18px;
    font-weight:bold;
    width:560px;
    height:45px;
    max-height:45px;
    min-height:45px;
    margin:10px 0 10px 0;
    padding:10px;
}

.guest-footer
{
    text-align: center;
    font-size: 14px;
    padding: 10px 0 0 0;
    color: #919090;
}

/**
 * Landing page
 */
.landing-left
{
    float:left;
    width:0px;
}

.landing-right
{
    margin:0px 0 0 0;
    float:left;
}

.box-container
{
    background-color: #fff;
    margin:0 0 25px 0;
}

.box-container .box-header, .box-footer
{
    background-color: #EBEBEB;
    padding: 15px 15px 10px 15px;
    font-size: 18px;
    font-weight: bold;
    height:30px;
    border: 1px solid #D6D6D6;
}

.box-container .box-header
{
    border-bottom:0;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-radius-topright:5px;
    -webkit-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
}

.box-container .box-header .checkbox-text
{
    font-size:14px;
    font-weight:normal;
    vertical-align:-2px;
    margin-right:5px;
}

.box-container .seperator
{
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-top:0;
}

.box-container .box-footer
{
    border-top:0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -webkit-border-radius-bottomright:5px;
    -webkit-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
}

.box-container .box-content
{
    padding:15px;
    border:1px solid #D6D6D6;
}

.container
{
    margin-left:auto;
    margin-right:auto;
    width:940px;
}


/**
 * WYSIWYG textboxes
 */
.wysiwyg-description
{
    width:400px;
    min-height:150px;
}

#error {
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color:#b94a48;
}

#multaccounts {
    text-align: center;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    color:#31b0d5;
}

#acc {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color:blue;
}

#welcome {
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

#srv {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#currentlyPlaying {
    text-align: center;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

#gametype {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#status {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
#players {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#time {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#extra {
    padding-top:15px;
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

#whosalive {
    padding-top:15px;
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}


#whosdead {
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}

#alive {
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}


#dead {
    text-align: center;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
}



hr { display: block; height: 1px;
     border: 0; border-top: 1px solid #ccc;
     margin: 1em 0; padding: 0;
}

#blocks {
    padding-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:336px; /* li pixel size * 5 */
    padding-bottom:336px;
        /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
}

li
{
    cursor: crosshair;
    display: block;
    height:50px;
    float: left;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    text-align:center;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;  
    transition:all 0.2s ease; 
}

li:hover { 
    transform: scale(5);
    border: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Safari and Chrome */
}

#blocks:hover { 
    /* Firefox */
    -moz-transform: scale(1.05);
    /* WebKit */
    -webkit-transform: scale(1.05);
    /* Opera */
    -o-transform: scale(1.05);
    /* Standard */
    transform: scale(1.05);
}

#jslider {
    padding-top:20px;
    text-align: center;
    font-size:25px;
    width:50%;
    margin: auto;
    background:rgba(0,0,255,0.3);
}

#volumelabel {
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding-top:15px;
    padding-bottom:15px;
}

div.activeColour
{
    clear: both;
    height: 25px;
    width: 125px;
}